@import '_variables'
@import '_navbar'
@import '_about'
@import '_challenge'
@import '_card'

body, html
	margin: 0
	padding: 0
	box-sizing: border-box
	height: 100vh
	width: 100vw
	background-color: #fff

a
	text-decoration: none

.qcx
	font-family: $sans
	
	&-footer
		margin: 0
		padding: 0
		height: 100px
		background-color: #373737
		color: #fff
		font-size: 14px
		display: flex
		justify-content: center
		align-items: center

		h3
			+reset